@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: night;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.wrap {
    overflow-wrap: break-word;
}

.box {
    animation: fadeInRight 1s ease-out;
}

.mixer-header.bg-success {
    @apply text-primary-content font-semibold;
}
